<div class="program-page">
  <div class="banner">
    <h1>Our Programmes</h1>
  </div>
  <nz-row nzJustify="center">
    <nz-col nzXs="24" nzSm="22" nzMd="18" nzLg="14">
      <div class="programs-content-wrapper">
        <nz-card
          nzTitle="Early Years Programme (Pre-Nursery & Nursery):"
          [nzBordered]="false"
        >
          <p>
            At SA International , our early years programme (Pre-Nursery &
            Nursery) is designed to provide a nurturing, stimulating & joyful
            learning experience for young children. We focus on building a
            strong foundation for lifelong learning through play-based,
            inquiry-driven and hands-on experiences.
          </p>
        </nz-card>

        <nz-card
          nzTitle="Kindergarten Programme (LKG & UKG):"
          [nzBordered]="false"
        >
          <p>
            Kindergarten (KG1 & KG2) syllabus emphasizes sensory exploration,
            play-based learning, and socialemotional development, ensuring a
            smooth transition into structured learning.
          </p>
        </nz-card>

        <nz-card
          nzTitle="Primary years Programme( grade 1 to grade 4):"
          [nzBordered]="false"
        >
          <p>
            The primary years program builds on concept- based learning,
            critical thinking, and problem- solving while enhancing STEM
            education and skill- based learning.
          </p>
        </nz-card>

        <nz-card
          nzTitle="History of SA International School"
          [nzBordered]="false"
        >
          <p>
            SA International began its journey in 2018 as "Kids Valley," a small
            yet ambitious learning space with a few students. Over the years,
            the school grew steadily, attracting more students and gaining a
            reputation for quality education and child-centered learning. By
            2023, SA International was officially established.
          </p>
        </nz-card>

        <nz-card nzTitle="Core subjects:" [nzBordered]="false">
          <ul>
            <li>
              <strong>*English language & literacy –</strong> Reading
              comprehension, grammar, creative writing, and public speaking.
            </li>
            <li>
              <strong>*Mathematics-</strong> Number sense, operations, geometry,
              maths lab activities and logical reasoning.
            </li>
            <li>
              <strong>*Science-</strong> Hands-on experiments, environmental
              studies, and basic physics, chemistry, and biology concepts.
            </li>
            <li>
              <strong>*Social studies-</strong> History, Geography, Civics, and
              Cultural studies.
            </li>
            <li>
              <strong>*Information & communication technology(ICT)-</strong>
              Basic coding, robotics, artificial intelligence and safe internet
              usage.
            </li>
          </ul>
        </nz-card>

        <nz-card
          nzTitle="Specialized & co-curricular subjects:"
          [nzBordered]="false"
        >
          <ul>
            <li>
              <strong>*STEM education-</strong> Science, technology,
              engineering, and math-based projects, Abacus.
            </li>
            <li>
              <strong>*Art & craft-</strong> Enhancing creativity through
              painting, clay modelling, craftwork.
            </li>
            <li>
              <strong>*Physical Education & sports-</strong> Fitness training,
              team sports, Karate, Yoga, Chess, Archery and much more
            </li>
            <li>
              <strong>*Music & performing Arts-</strong> Vocal training,
              instrumental music, dance and drama activities.
            </li>
            <li>
              <strong>*Moral Education & Life Skills-</strong>
              Ethics, values, leadership, and problem-solving.
            </li>
          </ul>
        </nz-card>
      </div>
    </nz-col>
  </nz-row>
</div>
