<div class="lg:hidden md:hidden">
  <div class="flex items-center justify-center mt-3">
    <button
      nz-button
      nzType="primary"
      nzGhost
      nzSize="large"
      nzShape="round"
      [routerLink]="['/admission']"
      routerLinkActive="router-link-active"
    >
      <i class="fas fa-graduation-cap mr-1"></i>
      Admission Enquiry
    </button>
  </div>
  <nz-divider class="m-0 mt-3 mb-1"></nz-divider>
  <div class="flex items-center justify-between px-1">
    <img
      nz-image
      width="75px"
      height="75px"
      nzSrc="assets/img/sai_logo.png"
      alt="logo"
    />
    <button nz-button nzType="primary" (click)="open()">
      <span nz-icon [nzType]="visible ? 'menu-unfold' : 'menu-fold'"></span>
    </button>
  </div>
</div>
<div nz-row class="hidden lg:flex">
  <div nz-col nzSpan="3"></div>
  <div nz-col nzSpan="4">
    <img
      nz-image
      width="142px"
      height="142px"
      nzSrc="assets/img/sai_logo.png"
      alt="logo"
    />
  </div>
  <div nz-col nzSpan="14">
    <div class="flex items-center justify-end mt-2">
      <div class="mr-3 text-sm">
        <i class="far fa-envelope mr-1 text-blue"></i
        >{{ 'saiskarode@gmail.com' }}
      </div>
      <div class="mr-3 text-sm">
        <i class="fas fa-phone-volume mr-1 text-blue"></i> +91 6374967005
      </div>
      <button
        nz-button
        nzType="primary"
        nzGhost
        nzSize="large"
        nzShape="round"
        [routerLink]="['/admission']"
        routerLinkActive="router-link-active"
      >
        <i class="fas fa-graduation-cap mr-1"></i>
        Admission Enquiry
      </button>
    </div>
    <nz-divider></nz-divider>
    <div class="flex items-center justify-end">
      <ng-container *ngFor="let nav of navList; let i = index">
        <a
          class="text-base cursor-pointer"
          [class.mr-6]="i !== navList.length - 1"
          (click)="navigateTo(nav?.route)"
          nz-dropdown
          nzTrigger="click"
          [nzDropdownMenu]="nav?.subItems?.length ? menu : null"
        >
          {{ nav?.name }}
          <span *ngIf="nav?.subItems?.length" nz-icon nzType="down"></span>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li
              nz-menu-item
              *ngFor="let sub of nav?.subItems"
              [routerLink]="sub?.route"
            >
              {{ sub?.name }}
            </li>
          </ul>
        </nz-dropdown-menu>
      </ng-container>
    </div>
  </div>
  <div nz-col nzSpan="3"></div>
</div>

<nz-drawer
  nzTitle="Menu"
  [nzClosable]="true"
  [nzVisible]="visible"
  nzPlacement="left"
  (nzOnClose)="close()"
>
  <ng-container *nzDrawerContent>
    <ul nz-menu nzMode="inline">
      <ng-container *ngFor="let nav of navList">
        <li
          *ngIf="!nav?.subItems?.length"
          nz-menu-item
          [nzSelected]="nav.name === 'Home' ? true : false"
          [routerLink]="nav?.route"
        >
          {{ nav?.name }}
        </li>
        <li
          *ngIf="nav?.subItems?.length"
          nz-submenu
          [nzTitle]="nav?.name ?? ''"
          nzIcon="mail"
        >
          <ul>
            <li
              *ngFor="let subMenu of nav?.subItems"
              nz-menu-item
              [routerLink]="subMenu?.route"
            >
              {{ subMenu?.name }}
            </li>
          </ul>
        </li>
      </ng-container>
    </ul>
  </ng-container>
</nz-drawer>
