<div class="container-wrapper mt-20">
  <div class="flex items-center justify-center">
    <span class="text-[15px] font-semibold leading-[24px] mr-2">ACADEMIA</span>
    <img src="assets/img/icons/bird.svg" alt="bird" />
  </div>
  <div
    class="text-4xl font-semibold leading-[54px] flex justify-center text-center"
  >
    Facilitating Comprehensive Understanding through <br />
    Erudite Learning
  </div>
  <div class="text-base font-normal leading-6 text-center mt-2">
    Our teaching methodology incorporates a blend of classroom and non-classroom
    learning that fosters key life skills like communication,<br />
    problem-solving, critical thinking, decision-making, interpersonal
    relationship skills, empathy, coping with stress, and self-awareness <br />
    building skills.
  </div>
  <div class="card-wrapper flex justify-center items-center mt-[15px]">
    <nz-card nzHoverable class="w-[18.75rem] mr-5" [nzCover]="coverTemplate1">
      <nz-card-meta
        nzTitle="Kinder Garden"
        nzDescription="2 Years - 3 Years"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate1>
      <img alt="example" src="assets/img/cardimg1.JPG" />
    </ng-template>
    <nz-card nzHoverable class="w-[18.75rem] mr-5" [nzCover]="coverTemplate2">
      <nz-card-meta
        nzTitle="Pre primary"
        nzDescription="3 Years - 4 Years"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate2>
      <img alt="example" src="assets/img/student-mam.jpeg" />
    </ng-template>
    <nz-card nzHoverable class="w-[18.75rem]" [nzCover]="coverTemplate3">
      <nz-card-meta
        nzTitle="primary"
        nzDescription="4 Years - 5 Years"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate3>
      <img alt="example" src="assets/img/student-thumsup.JPG" />
    </ng-template>
  </div>
</div>
