<div class="contact-container">
  <div class="banner">
    <h1>Contact Us</h1>
  </div>

  <div class="contact-content">
    <h2 class="section-title">
      <span class="title-text">Address</span>
    </h2>

    <nz-divider></nz-divider>

    <div class="contact-details">
      <div class="contact-section">
        <h3>Location</h3>
        <p>SA International School, Mullasseripotta, Karodu Road, Choozhal,</p>
        <p>Adaikkakuzhi P.O, Choozhal, Village, Pin-629153</p>
      </div>

      <nz-divider></nz-divider>

      <div class="contact-section">
        <h3>Support and Enquiries</h3>
        <p>+91 6374967005</p>
      </div>

      <nz-divider></nz-divider>

      <div class="contact-section">
        <h3>Email</h3>
        <p>saiskarode&#64;gmail.com</p>
      </div>
    </div>
  </div>
</div>
