<div class="main-wrapper">
  <app-image-banner></app-image-banner>
  <div class="about-container mt-6 sm:mt-20">
    <div class="lg:mx-40">
      <div nz-row>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12">
          <div class="flex items-center justify-center sm:justify-start">
            <span class="text-[15px] font-semibold leading-[24px] mr-2"
              >ABOUT US</span
            >
            <img src="assets/img/icons/bird.svg" alt="bird" />
          </div>
          <div
            class="text-[37px] mb-0 font-semibold leading-[54px] text-center sm:text-left"
          >
            Welcome to SA International School
          </div>
          <p
            class="mt-6 mb-4 text-base font-normal leading-6 text-left tracking-[1px] px-2 sm:p-0s"
          >
            SA International School offers a well-rounded curriculum designed to
            foster academic,excellence, creativity critical thinking, and
            problem solving and character development.Our school's architecture
            meets international standard in every aspect including!
            classrooms,various labs, washrooms, park and more Join us on this
            journey of learning, discovery and growth,where your Childers future
            is over priority. Together, we build a foundation for lifelong
            success.
          </p>
          <img
            nz-image
            nzSrc="assets/img/school.JPG"
            alt="logo"
            class="w-full h-[321px] sm:hidden"
          />
          <div class="flex justify-center sm:justify-start mt-3 sm:mt-0">
            <button
              nz-button
              nzType="primary"
              class="rounded-[4px]"
              (click)="navigateTo('/about')"
            >
              Read More
            </button>
          </div>
        </div>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="24"
          nzLg="12"
          class="hidden sm:flex"
        >
          <img
            nz-image
            nzSrc="assets/img/school.JPG"
            alt="logo"
            class="w-full h-[321px] pl-2"
          />
        </div>
      </div>
    </div>
    <app-academia></app-academia>
  </div>
  <div class="beyond-wrapper sm:pt-20 pb-3 sm:pb-20">
    <div nz-row class="sm:mx-40">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12">
        <div
          class="flex items-center justify-center sm:justify-start mt-6 sm:mt-0"
        >
          <span class="text-[15px] font-semibold leading-[24px] mr-2"
            >BEYOND ACADEMIA</span
          >
          <img src="assets/img/icons/bird.svg" alt="bird" />
        </div>
        <div
          class="text-4xl font-semibold leading-[54px] text-center sm:text-start"
        >
          Going Above and Beyond Academic Standards
        </div>
        <div class="text-base font-normal leading-6 mt-4 mb-4">
          Outside of the classroom, some of the best learning occurs, and the
          curriculum emphasizes applying what is learned in the classroom to
          real-world situations. By focusing on creativity, innovation, and
          invention, SAIS surpasses academic excellence in every aspect..
        </div>
        <div class="sm:hidden">
          <img
            nz-image
            nzSrc="assets/img/students.JPG"
            alt="logo"
            class="w-full h-[298px]"
          />
        </div>
        <div
          class="flex justify-center items-center sm:justify-start mt-3 sm:mt-0"
        >
          <button
            nz-button
            nzType="primary"
            class="rounded-[4px]"
            (click)="navigateTo('/programs')"
          >
            Read More
          </button>
        </div>
      </div>
      <div nz-col nzSpan="12" class="hidden sm:flex">
        <img
          nz-image
          nzSrc="assets/img/students.JPG"
          alt="logo"
          class="w-[95%] h-[298px] pl-2"
        />
      </div>
    </div>
  </div>
</div>
