<div class="card-container mt-12 flex items-center w-100 h-100 mb-12">
  <nz-card nzHoverable class="w-[213px] mt-[15px] mr-[10px]">
    <div class="flex justify-center">
      <img src="assets/img/location.png" alt="location" />
    </div>
    <div class="text-[25px] py-7 text-center">135+</div>
    <div class="text-base text-center">
      Institutes <br />
      Across India
    </div>
  </nz-card>
  <nz-card nzHoverable class="w-[213px] mt-[15px] mr-[10px]">
    <div class="flex justify-center">
      <img src="assets/img/card-logo2.png" alt="location" />
    </div>
    <div class="text-[25px] py-7 text-center">22+</div>
    <div class="text-base text-center">
      States <br />
      Reached
    </div>
  </nz-card>
  <nz-card nzHoverable class="w-[213px] mt-[15px] mr-[10px]">
    <div class="flex justify-center">
      <img src="assets/img/card-logo3.png" alt="location" />
    </div>
    <div class="text-[25px] py-7 text-center">70+</div>
    <div class="text-base text-center">
      Years of <br />
      Excellence in<br />
      Education
    </div>
  </nz-card>
  <nz-card nzHoverable class="w-[213px] mt-[15px] mr-[10px]">
    <div class="flex justify-center">
      <img src="assets/img/card-logo4.png" alt="location" />
    </div>
    <div class="text-[25px] py-7 text-center">135+</div>
    <div class="text-base text-center">
      Institutes <br />
      Across India
    </div>
  </nz-card>
  <nz-card nzHoverable class="w-[213px] mt-[15px] mr-[10px]">
    <div class="flex justify-center">
      <img src="assets/img/card-logo5.png" alt="location" />
    </div>
    <div class="text-[25px] py-7 text-center">135+</div>
    <div class="text-base text-center">
      Institutes <br />
      Across India
    </div>
  </nz-card>
</div>
