<div class="information-wrapper bg-[#7BCCE4] pt-7 pb-7">
  <div nz-row class="ml-7">
    <div nz-col [nzXs]="0" [nzSpan]="2" [nzSm]="2" [nzMd]="2"></div>
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="5">
      <div class="text-lg mb-3 sm:mb-7">Reach Us at</div>
      <div class="flex">
        <i class="fas fa-map-marker-alt mr-2 mt-1 text-blue"></i>
        <div class="text-sm leading-6">
          SA International School <br />
          Mullasseripotta, Karodu Road, Choozhal,<br />
          Adaikkakuzhi P.O, Choozhal, Village, Pin-629153
        </div>
      </div>
      <div class="flex items-center">
        <i class="fas fa-phone-volume mr-1 text-blue"></i>
        <div class="text-sm leading-6">+91 6374967005</div>
      </div>
      <div class="flex items-center">
        <i class="far fa-envelope mr-2 text-blue"></i>
        <div class="text-sm leading-6">{{ 'saiskarode@gmail.com' }}</div>
      </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="5">
      <div class="text-lg mb-3 sm:mb-7 mt-3 sm:mt-0">For Admissions:</div>
      <div class="flex items-center">
        <i class="fas fa-phone-volume mr-2 text-blue"></i>
        <div class="text-sm leading-6">+91 6374967005</div>
      </div>
      <div class="flex items-center">
        <i class="far fa-envelope mr-2 text-blue"></i>
        <div class="text-sm leading-6">{{ 'saiskarode@gmail.com' }}</div>
      </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="5">
      <div class="text-lg mb-3 sm:mb-7 mt-3 sm:mt-0">Information</div>
      <div class="text-sm leading-6">Home</div>
      <div class="text-sm leading-6">Our Programmes</div>
      <div class="text-sm leading-6">Admissions</div>
      <div class="text-sm leading-6">Gallery</div>
      <div class="text-sm leading-6">Contact Us</div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="5">
      <div class="text-lg mb-3 sm:mb-7 mt-3 sm:mt-0">About BOMIS</div>
      <div class="text-sm leading-6">About Us</div>
      <div class="text-sm leading-6">Our Journey</div>
      <div class="text-sm leading-6">Vision and Mission</div>
      <div class="text-sm leading-6">Philosophy</div>
      <div class="text-sm leading-6">The Logo</div>
    </div>
    <div nz-col [nzXs]="0" [nzSpan]="2" [nzSm]="2" [nzMd]="2"></div>
  </div>
</div>
